<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colman.pawnit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawnIT"
        android:name=".MyApplication">
        <activity android:name=".marketActivity"/>
        <activity android:name=".forgotPwdActivity" />
        <activity android:name=".registerActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".contactsActivity" />
        <activity android:name=".appSettingsActivity" />
        <activity android:name=".userSettingsActivity" />
        <activity android:name=".userHistoryActivity" />
        <activity android:name=".myPawnsActivity" />
        <activity android:name=".myListingsActivity" />
        <activity android:name=".auctionActivity" />
        <activity android:name=".pawnActivity" />
        <activity android:name=".secondHandActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>